@page "/"
@using Bookmazon.Shared.Dtos.Book
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Nav
@inject HttpClient Http


<PageTitle>Index</PageTitle>



@if(books != null)
{
    <div class="container">
        <div class="row">

            @foreach (var book in books)
            {
                <div class="col-3 pt-3" @onclick="@(() => { Nav.NavigateTo($"/book/{@book.ISBN}"); })">
                    <div class="card">
                        <img class="card-img-top" src="@book.PictureURL" style="max-height: 320px;"/>

                        <div class="card-body">
                            <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@book.Title</h5>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
}


@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    private BookDto[] books;

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationState).User;

       
        if (user.IsInRole("admin"))
        {
            Nav.NavigateTo("/adminMain", true);
        }


        try
        {
            books = await Http.GetFromJsonAsync<BookDto[]>("/api/book/");
        } catch {}
    }
}
