@page "/AdminMain"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@attribute [Authorize(Roles ="admin")]


<div class="alert alert-secondary mt-4">
    <a class="font-weight link-dark" href="/AdminMain/Books">Show Books</a>
</div>

@code {
}
