@page "/Admin"
@inject NavigationManager navMan


<h2>Administrator Panel</h2>
<div class="col-xl-6 col-md-8 col-12">
    <button type="button" class="btn btn-lg btn-outline-primary" @onclick="@(()=>NavToBooks())">Show Books</button>
</div>
<br />


@code {
    public void NavToBooks()
    {
        navMan.NavigateTo("/AdminMain/Books");
    }
}
