@using Blazored.LocalStorage
@using Bookmazon.Shared.Models

@inherits LayoutComponentBase
@inject ILocalStorageService _localStorageService
@inject NavigationManager _navigationManager

<div class="page overflow-hidden">

    <main class="overflow-hidden">

        <NavMenu />

        <article class="content px-4 overflow-hidden">
            @Body
        </article>
    </main>
</div>

@code{

        private async Task LogoutUser()
    {
        await _localStorageService.RemoveItemAsync("jwt_token");
        _navigationManager.NavigateTo("/", true);
    }
}
