@using Blazored.LocalStorage
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using Bookmazon.Shared.Models

@inherits LayoutComponentBase
@inject ILocalStorageService _localStorageService
@inject NavigationManager _navigationManager
<link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />


        <BlazoredToasts RemoveToastsOnNavigation=true
                Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
<div class="page overflow-hidden">

    <main class="overflow-hidden">

        <NavMenu />

        <article class="content px-4 overflow-hidden">
            @Body
        </article>
    </main>
</div>

@code{

        private async Task LogoutUser()
    {
        await _localStorageService.RemoveItemAsync("jwt_token");
        _navigationManager.NavigateTo("/", true);
    }
}
