<nav class="navbar navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <NavLink class="navbar-brand" href="/">
        Bookmazon
    </NavLink>


    <SearchField />

    <li class="d-flex">
        <NavLink href="/AdminMain">
            Admin 
        </NavLink>
        &nbsp;
        <NavLink href="/loginuser">
            Login
        </NavLink>
    </li>


  </div>
</nav>