@using Bookmazon.Client.QueryString
@using Bookmazon.Client.Services
@using Bookmazon.Shared.Filter


@inject NavigationManager Nav
@inject BookSearchService bookSearchService




<form @onsubmit:preventDefault @onsubmit="search">
    <div class="form-group">
        <div class="input-group">
            <input  @bind="_serachString" class="form-control" placeholder="search"/>
            <button type="submit" class="oi oi-magnifying-glass btn btn-secondary"></button>
        </div>
    </div>
</form>

@code {
    [QueryStringParameter]
    public string SearchString { get; set; }

    private string _serachString;


    protected override void OnInitialized()
    {
        bookSearchService.OnSearchRequest += setSearchStringParams;
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        // 👇 Read the value of each property decorated by [QueryStringParameter] from the query string
        this.SetParametersFromQueryString(Nav);

        _serachString = SearchString;

        return base.SetParametersAsync(parameters);
    }


    private void search()
    {
        bookSearchService.Search(_serachString);
    }

    private void setSearchStringParams(object sender, string searchString)
    {
        SearchString = searchString;
        this.UpdateQueryString(Nav);
    }
}